
/* bottom takes priority over the top */

@font-face {
  font-family:'Karla-Regular';
  src: url(fonts/Karla-Regular.ttf) format('truetype');
}

.karla {font-family:'karla-regular';}

@font-face {
  font-family:'karla-bold';
  src: url(fonts/karla-bold.ttf) format('truetype');
  font-weight: bold;
}
.karla-bold {font-family: 'Karla-Bold';}

@font-face{
  font-family:'pacifico';
  src: url(fonts/pacifico.ttf) format ('truetype');
}
.pacifico {font-family:'pacifico';}

body{
  font-family: karla;
  font-size:16px;
  line-height: 1.25em;
  box-sizing: border-box;
  margin: 0px;
}

.display-type  {
font-size: .5em;
}

img{
  max-width: 100%;

}

h1, h2{
 text-align: center;
}

h2{
  font-family:'pacifico';
  font-size: 2em;
  color: #000000;
  margin: 1em auto;
}

header{
  background-color: black;
  text-align: center;
  padding-top:10px;

}

header img {
  max-width:60%;
}

nav ul{
  padding:1em 0;
  margin:0 auto;
  list-style: none;
  max-width: 70%;
  display: flex;
  justify-content: space-between;

}

nav ul li{
  display: inline-block;
  font-size: 1em;
}

nav ul li a{
   color: white;
   text-decoration: none;
   text-transform: uppercase;
}

main{
    margin: .5em;

}

footer{
    background: #222222;
    color: white;
    text-align: center;
    padding:10em;
}

p{
  line-height: 2em;
  margin-bottom: 2em;
}

a{
  color: cyan;

}

.banner {
    background: linear-gradient(to top,
      rgba(0, 0, 0, .35) 0%,
      rgba(0, 0, 0, .25) 100%
    ),
    url('../images/kayak-bkgd.jpg');
  background-position: top center;
  background-size: cover;
  text-align: center;
  padding: 4em 0;
}

.page-title span{
  display: block;
  color: white;
  text-align: center;
  padding: .5em 0;
}

.enjoy-the {
  font-size: 1em;
  text-transform: uppercase;
}

.great-outdoors .from-the-water {
  text-shadow: 2px 2px 2px #999;
}

.great-outdoors {
  font-size: 3em;
}

.from-the-water{
  font-size: 1.5em;
}

.banner p {
  color: white;
  background-color: rgba(0,0,0, .5);
  text-align: center;
  margin: 1.5em auto;
  margin-bottom: 3em;
  padding: 1em;
  width:70%;

}

.about {
  text-align: center;
}

.rentals {
 text-align: center;
}

.pretty-images {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;


}
.pretty-images img {
  width: 100%;
  margin: .5em 0 0 0;
  box-shadow:  1px 0 5px 1px #666;
}

footer p {
  margin-bottom: 1em;

}

footer a{
  color: white;

}

footer nav ul{
  justify-content: center;
}

footer ul li {
  margin: .5em;
}


/*--- tablet ---*/
@media (min-width: 600px) {


  .pretty-images {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;

  }

  .pretty-images img {
    width: 32.5%;
    margin: .5em 0 0 0;
    box-shadow:  1px 0 5px 1px #666;

  }
	}

/*--- desktop ---*/

@media (min-width: 1140px) {

  .pretty-images {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;

  }

  .pretty-images img {
    width: 32.5%;
    margin: .5em 0 0 0;
    box-shadow:  1px 0 5px 1px #666;
	}
	}



/* never use an id to style elements - css works on rules of specificity -
id tags can only be used on one element - lends itself to repetiveness (dry - do not repeat yourself) -
ids are mainly used for javascripts */
