
/* bottom takes priority over the top */

@font-face {
  font-family:'Karla-Regular';
  src: url(fonts/Karla-Regular.ttf) format('truetype');
}

.karla {font-family:'karla-regular';}

@font-face {
  font-family:'karla-bold';
  src: url(fonts/karla-bold.ttf) format('truetype');
  font-weight: bold;
}
.karla-bold {font-family: 'Karla-Bold';}

@font-face{
  font-family:'pacifico';
  src: url(fonts/pacifico.ttf) format ('truetype');
}
.pacifico {font-family:'pacifico';}

body{
  font-family: karla;
  font-size:16px;
  line-height: 1.25em;
  box-sizing: border-box;
  margin: 0px;
  color: #2d2d2d;

}

.display-type  {
font-size: .5em;
}

img{
  max-width: 100%;
}

h1, h2{
 text-align: center;
}

h2{
  font-family:'pacifico';
  font-size: 3em;
  color: #646464;
  margin: 1em auto;
}

header{
  background-color: black;
  text-align: center;
  padding-top:10px;
}

header img {
  max-width:60%;
}


nav ul{
  padding:1em 1em;
  margin:0 auto;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

nav ul li{
  display: inline-block;
  font-size: 1em;
}

nav ul li a{
   color: white;
   text-decoration: none;
   text-transform: uppercase;
}

main{
    margin: .5em;
}

footer{
  color: white;
  background-color: #2d2d2d;
  text-align: center;
  padding: 2em;
  /*display: flex;*/
  /*align-items: flex-start;*/
}

p{
  line-height: 2em;
  margin-bottom: 1em;
}

a{
  color:#e2574c;
  text-decoration: none;
}

.banner {
    background: linear-gradient(to top,
      rgba(0, 0, 0, .35) 0%,
      rgba(0, 0, 0, .25) 100%
    ),
    url('../images/kayak-bkgd.jpg');
  background-position: top center;
  background-size: cover;
  text-align: center;
  padding: 4em 0;
}

.banner p {
  color: white;
  background-color: rgba(0,0,0, .5);
  text-align: center;
  margin: 1.5em auto;
  padding: 0.5em;
  width:70%;
  line-height: 1em;
}

.page-title span{
  display: block;
  color: white;
  text-align: center;
  padding: .5em 0;
}

.great-outdoors .from-the-water {
  text-shadow: 1px 1px 1px #646464;
}

.enjoy-the {
  font-size: .75em;
  text-transform: uppercase;
}

.great-outdoors {
  font-size: 2em;
}

.from-the-water{
  font-size: 1em;
}

.signup-button{
  text-transform: uppercase;
  background-color: #e2574c;
  color: #ffffff;
  text-decoration: none;
  padding: .75em .75em;
  border-radius: 2em;
}

.singup-button:hover{
  background-color:#b64036;
  color: white;
}

.grey-text {
  color: #999;
}

.social-link-words{
  display: none;
}

.about {
  text-align: center;
}

.rentals{
  width: 100%;
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
}

.rentals p:first-child{
  margin-top:0em;
}

.rentals table{
  border: 1px solid #c8c8c8;
  width: 100%;
}

.rentals th {
  background: #e6e6e6;
  text-align: center;
  font-weight: bold;
  padding: .5em 0;
}

.rentals td {
  width: 33%;
  text-align: center;
  padding: .5em;
}

.rentals td:first-child {
  text-align: left;
}

.rentals tr:hover {
  background-color: #fbf6d9;
}

.locations{
  text-align: center;
}

.pretty-images {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
}

.pretty-images img {
  width: 100%;
  margin: .5em 0 0 0;
  box-shadow:  1px 0 5px 1px #666;
}

iframe{
  width: 100%;
  padding-bottom: 5em;
  margin: .5em 0 0 0;
}

footer p {
  margin-bottom: 1em;

}

footer a{
  color: white;

}

footer nav ul{
  justify-content: center;
}

footer ul li {
  margin: .5em;
}


/*--- tablet ---*/
@media (min-width: 600px) {

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 3px
  }

header img{
    padding-left: 15px;
    max-width: 35%;
  }

nav li{
      padding-right: 15px;
  }

footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

footer article {
  text-align: left;
  max-width: 40%;
}

footer nav ul {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}

footer nav ul li {
 margin: .25em .25em;

}

.banner p {
    color: white;
    background-color: rgba(0,0,0, .5);
    text-align: center;
    margin: 1.5em auto;
    padding: 0.5em;
    width:70%;
    line-height: 1em;
}

.pretty-images {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;

  }

.pretty-images img {
    width: 32.5%;
    margin: .5em 0 0 0;
    box-shadow:  1px 0 5px 1px #666;

  }
.enjoy-the {
    font-size: .75em;
    text-transform: uppercase;
  }

.great-outdoors {
    font-size: 3em;
  }

.from-the-water{
    font-size: 1.5em;
  }

.social-link-words{
    display: inline;
  }

.rentals{
  flex-flow: row wrap;
  justify-content: space-around;

}

.rentals article{
  text-align: left;
  width: 49%;
}

.rentals table{
  flex-direction: column;
  width: 40%;

}

.rentals article, .rentals table{
  margin: 1em 1em;
}

}

/*--- desktop ---*/

@media (min-width: 1140px) {

  .about p {
  max-width: 60%;
  margin: 1.5em auto;
}

footer article {
  max-width: 30%;
}

 .rentals table {
  width: 40%;
}

}


/* never use an id to style elements - css works on rules of specificity -
id tags can only be used on one element - lends itself to repetiveness (dry - do not repeat yourself) -
ids are mainly used for javascripts */
